@model IEnumerable<sistema_unidades.Models.Tipo>

@{
    ViewData["Title"] = "Index";
}

<h1>Inicio</h1>
<h4>Tipo</h4>
<p>
    <a asp-action="Create" class="btn btn-success">Crear</a>
</p>
<div class="row justify-content-end mb-2">
    <div class="col-auto">
        <input type="text" id="buscador" class="form-control form-control-sm" placeholder="Buscar">
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tipo1)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo1)
            </td>
            <td>
                    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" class="btn btn-info" asp-route-id="@item.Id">Detalles</a> |
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
@section scripts {
    <script>
        $(document).ready(function () {
            $('#buscador').on('input', function () {
                var term = $(this).val().toLowerCase();
                $('tbody tr').filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(term) > -1)
                });
            });
        });
    </script>
    }